h1 {
    text-align: center;
    font-size: 60px;
}
div {
   align-items: center;
   text-align: center;
}
h4 {
    font-size: 24px;
    padding: 30px;
}
ul, ol {
    list-style-position: inside;
}
.directions {
    border: 4px;
    border-color: black;
    
}
.description {
    padding-left: 50px;
    padding-right: 50px;
}
.bigwiggle {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    margin: 100px;
    flex: auto;
}
.bigwiggle div {
    background: peachpuff;
    border: 5px solid black;
    flex-shrink: 1;
    flex: 1 1 auto;
}
.bigwiggle .wiggle2{
    flex: auto
}
b {
    font-size: 30px;
}